@mixin actions {
    width: 100%;
    position: absolute;
    top: 85%;
    height: 2rem;
    display: flex;
    align-items: center;
    right: 0;


    .action {
        padding: 0 .5em;

        svg {
            height: 1.5rem !important;
            width: 1.5rem !important;
        }

        input {
            width: 30rem;
            padding: .6rem;
            padding-left: 1rem;
            border: none;
            border-radius: 1.5em;
            background: #353535;
            outline: none;
            font-family: 'Poiret one';
            color: rgba(255, 255, 255, 0.527);
            font-weight: 900;
            font-size: 1.1rem;
        }
    }

    .right-menu {
        position: absolute;
        right: 0;
        display: flex;
    }
}