@import 'mixins';

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poiret one';
    src: url('../fonts/PoiretOne-Regular.ttf');
}

@font-face {
    font-family: 'Pmarker';
    src: url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Quicksandx';
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

body {
    background: #2b2b2b;
    color: #ffffff;
    font-family: 'Poiret one' !important;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}

// content editable place holde
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    opacity: 0.3;
}

header {
    height: 3.5em;

    .username {
        text-transform: capitalize;
        font-size: 0.9em;
        padding-right: 3em;
        opacity: .7;

        .name {
            text-transform: none;
            color: aqua;
            opacity: .6;
        }
    }

    .frame {
        width: 100%;
        background: #202124;
        min-height: 2.0em;
        font-size: 1.6rem;
        height: 2.0em;
        -webkit-app-region: drag;
        display: flex;

        .logo {
            color: aqua;
            font-weight: 900;
            margin-left: .4em;

            img {
                margin-top: .2em;
                height: 1.2em;
                opacity: 0.5;
            }
        }

        .right-menu {
            position: absolute;
            right: 0;
            display: flex;
            margin-right: .3em;

            .frame-action {
                padding: 0em .5em;

                svg {
                    height: 1.0rem;
                    width: 1.0rem;
                }
            }
        }

        #minmize,
        #maxmize,
        #close,
        #menu {
            cursor: pointer;
            -webkit-app-region: no-drag;
            transition: all 150ms ease-out;

            &:hover {
                transform: scale(1.3);

                #minmize-path {
                    stroke: aqua;
                }
            }
        }
    }

    .welcomebar {
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;
        height: 1.8em;
        display: flex;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
        z-index: 112;
        background-color: #2b2b2b;
        margin-top: -0.7em;
        justify-content: space-between;
        align-items: flex-end;
    }

}

main {
    height: calc(100vh - 3.5em);
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
    display: grid;
    grid-template-columns: 70% 30%;
    // grid-template-columns: 5% 95%;

    .main {
        // top: 5%;
        height: 95%;
        background-color: #202124;
        border-radius: .8em;
        border-bottom-right-radius: 0em;
        position: relative;
        right: 10%;
    }

    .side {
        padding: .7em;
    }
}

// calendar
.calendar {
    .calendar-head {
        padding: .4em 0em;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .month {
            margin: 1rem 0;
            font-weight: 900;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        .controls {
            position: absolute;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1em 0;
            padding: .5em 1em;

            svg {
                height: 1.5em;
                opacity: 0.5;
            }

            .next-month,
            .prev-month {
                height: 2.0em;
                width: 2.0em;
                background: rgba(0, 255, 255, 0.01);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 3px solid rgba(0, 255, 255, 0.001);
                cursor: pointer;
            }
        }
    }

    .calendar-main {
        padding: .5em;

        .days {
            color: aqua;
            margin-top: .5em;
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .day {
                // padding: 1rem;
                font-size: 1.1em;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .dates {
            margin-top: .8em;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            min-height: 40vh;

            .date {
                // min-height: 3rem;
                // max-width: 3em;
                height: 3em;
                width: 3em;
                font-size: 0.9em;
                font-weight: 900;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 300ms ease-in-out;
                cursor: pointer;

                &.active,
                &:hover {
                    color: aqua;
                    background: rgba(255, 255, 255, 0.219);
                    border-radius: 50%;
                }
            }
        }
    }
}

// todays highlights
.highlights {
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
    padding: .7em;
    max-height: 37vh;
    height: 37vh;
    background-color: #2f2f2f;
    // background-image: url('../icons/png/icon.png');
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: 230px 0px;
    background-blend-mode: overlay;
    box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
    overflow: hidden;

    h3 {
        padding-left: 1rem;
        text-transform: capitalize;
        opacity: 0.7;
        display: flex;
        align-items: flex-end;

        svg {
            height: 1.6rem;
        }

        span {
            margin-left: 1rem;
            font-size: 1.4rem;
        }
    }

    .pinned-event {
        padding-left: 1rem;
        // height: 100%;
        height: 29vh;
        width: 100%;
        position: relative;

        .pin-main {
            // position: absolute;
            // bottom: 3.5rem;
            bottom: -10em;

            h2 {
                text-transform: capitalize;
                font-size: 1.3rem;
                font-weight: 800;
            }

            p {
                font-weight: 700;
                font-size: 1.0rem;
                opacity: 0.7;
            }
        }
    }
}

// fab actions
.fab {
    top: 60%;
    position: absolute;
    // bottom: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-end;

    .fab-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 3em;
        border-radius: 50%;
        margin-bottom: .3em;
        border: 2px solid rgba(0, 255, 255, 0.01);
        transition: all 300ms ease;
        cursor: pointer;

        &:hover {
            border: 2px solid rgba(0, 255, 255, 0.1);
        }

        &.add {
            margin-top: 5rem;
            // border: 2px solid rgba(0, 255, 255, 0.2);
        }
    }
}

svg {
    height: 2.0rem;
    width: 2.0rem;
}

// date info
.date-info {
    .date {
        font-weight: 900;
        font-size: 4rem;

        sup {
            padding: .2rem;
            font-size: 1.1rem;
            color: aqua;
        }
    }

    .day {
        font-size: 1.5rem;
        font-weight: 700;
        opacity: .5;
    }
}

// content
.content {
    display: none;
    height: 90%;
    margin-left: 3.5em;
    margin-top: .7em;
    width: 90%;
    border-radius: .7em;
    padding: .7em;
    position: relative;

    &.show {
        // transform: none;
        display: block;
    }

    .timeline {
        position: absolute;
        height: 90%;
        top: 0;
        width: .1rem;
        background: rgba(255, 255, 255, 0.03);
        border-radius: .1em;

        .timeofday {
            height: 3em;
            width: 3em;
            color: rgba(127, 255, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #2b2b2b !important;
            opacity: 1;
            border: 2px solid rgba($color: chartreuse, $alpha: 0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 75000;
            transform: translateX(-24px);
            font-weight: 800;
        }

        // .progress {
        //     position: relative;
        //     background: aqua;
        //     width: .1em;
        //     height: 0%;
        //     border-radius: .1em;
        // }

        .time {
            height: 3em;
            width: 3em;
            color: rgba(0, 255, 255, 0.11);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #2b2b2b;
            border: 2px solid rgba(255, 255, 255, 0.03);
            transform: translateX(-50%);
            font-weight: 900;
            margin-top: 2rem;

            h1 {
                &.date {
                    color: rgba(0, 255, 255, 0.4);
                    font-size: 1rem;
                    font-weight: 900;
                }
            }
        }
    }
}

// view my schedule
.view-schedule {
    overflow: hidden;
    height: 77vh;
    position: relative;
    padding-left: 1.5em;

    // width: 45vw;
    .timeline {
        position: fixed;
        top: 12.5em;
        height: 72vh;
    }

    .goals {

        .goal {
            position: relative;
            color: #ffffff;
            // width: 100%;
            margin-bottom: 9rem;
            margin-left: 1.5rem;
            padding-left: 2em;

            .real-time {
                color: #ffffff;
                font-weight: 600;
                font-size: 0.8em;
                font-family: 'Quicksandx';
                opacity: 0.3;
                margin-bottom: 0.4em;
            }

            .timeofday {
                height: 3em;
                width: 3em;
                color: rgba(0, 255, 255, 0.349);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #2b2b2b !important;
                opacity: 1;
                border: 2px solid rgba($color: #ffffff, $alpha: 0.03);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-80%) translateX(-100%);
                z-index: 75000;

                span#hr {
                    font-size: 20px;
                }

                span#min {
                    position: absolute;
                    font-size: 10px;
                    align-self: flex-end;
                    right: 0;
                    bottom: 0;
                    color: rgba($color: chartreuse, $alpha: 0.5);
                    // transform: translateX(5px);
                }

                transition: all 500ms ease;
            }

            .progress {
                position: absolute;
                left: 0;
                transform: translateX(-1.5em)translateY(3em);
                z-index: 74999;
                height: 0%;
                background: rgba(0, 255, 255, 0.3);
                width: .1em;

                &.hrscale {
                    background: rgba($color: chartreuse, $alpha: 0.3);
                }
            }

            h3 {
                // margin-top: 1rem;
                // padding-left: 1em;
                color: rgba($color: aqua, $alpha: 1.0);
                font-size: 1.4rem;
                font-weight: 900;
                text-transform: capitalize;

                div {
                    opacity: 1;
                }
            }

            .description,
            div {
                padding-top: .6em;
                line-height: 1.4em;
                width: 70%;
                font-weight: 900;
                opacity: 0.9;
            }

            &#passed,
            &#started {
                .timeofday {
                    color: rgba(0, 255, 255, 0.3);
                    border: 2px solid rgba(0, 255, 255, 0.3);
                }
            }

            div {
                padding-top: 0em;
            }

            &:first-child {
                margin-top: 1em;
            }

            &.changes {
                .real-time {
                    color: #00ffff;
                }

                .progress {
                    transform: translateX(-1.5em)translateY(-1em);
                    height: 30%;
                    background: #2b2b2b;
                }
            }
        }
    }
}

// join the dots dont break the chain
.dots {
    height: 100%;
    width: 90%;
    margin-left: 1.8rem;
    position: relative;

    .tab-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: min-content;
        grid-gap: .8em;
        padding: .3em .5em;
        height: 65vh;
        overflow: hidden;

        .d {
            position: relative;
            min-height: 5rem;
            max-block-size: 5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Pmarker';
            font-size: 3rem;
            font-weight: 800;
            background: rgba(255, 255, 255, 0.01);
            box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.302);
            border-radius: .1em;
            transition: all 350ms ease-out;

            .index,
            .show_next_month {
                font-family: 'Poiret one';
                position: absolute;
                top: 0;
                left: 0;
                padding: .3em;
                font-size: .3em;
                opacity: .2;
            }

            .show_next_month {
                right: 0 !important;
                color: aqua;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }

            &.active-d,
            &:hover {
                box-shadow: 0px 0px 2px rgba(0, 255, 255, 0.7);
                background: rgba(0, 255, 255, 0.01);

                .index {
                    color: rgb(0, 255, 255);
                    opacity: .6;
                }
            }
        }

        &.show_banner::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url(../images/timeline.svg);
            background-size: 450px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
            filter: opacity(50%);
        }
    }

    .actions {
        padding-left: 3em;
        @include actions;

        .activity {
            text-transform: capitalize;
            color: aqua;
            font-weight: 800;
            font-size: 1.1rem;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            padding-bottom: .3em;

            &.active-tab {
                border-bottom: 2px solid rgb(255, 255, 255);
            }
        }
    }

    #add-activity {
        transition: all 300ms ease;
    }

    .add-overlay {
        display: none;
        position: absolute;
        bottom: 18%;
        background: #202124;
        right: 0;
        z-index: 1000;
        border-radius: 6px;
        padding: .5em;
        height: 18vh;
        width: 25vw;
        font-weight: 800;
        box-shadow: 0 0 10px 0px #2b2b2bcb;

        input[type='text'] {
            width: 100%;
            outline: none;
            border: none;
            padding: .5em 1em;
            padding-bottom: 0.3em;
            font-family: 'Poiret one';
            font-size: 16px;
            font-weight: 800 !important;
            background: transparent;
            border-bottom: 1px solid rgba(0, 255, 255, 0.1);
            color: aqua;
        }

        .input-container {
            margin: .7em 0em;
        }


        .save-actions {
            margin-top: 0.5em;

            svg {
                float: right;
            }

            button {
                border: none;
                // height: 100%;
                // width: 100%;
                padding: .1em .9em;
                border-radius: .2em;
                font-family: 'Poiret one';
                font-weight: 800;
                font-size: 18px;
                background-color: rgba(0, 255, 255, 0.418);
                outline: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                float: right;
            }
        }
    }

}

// logbook
.logbook {
    height: 100%;
    // width: 95%;
    position: relative;

    .add-area {
        height: 65vh;
        padding-left: 1.5em;
        overflow: hidden;

        .timeline {
            position: fixed;
            height: 85vh;
            top: 12.5em;
        }

        .notebook {
            position: relative;
            margin-left: 3em;
            width: 90%;
            height: 100%;
            // font-family: 'berkshire swash';
            font-weight: 700;
            outline: none;

            h2 {
                color: aqua !important;
                text-transform: capitalize;
            }

            div {
                line-height: 1.4;
                font-size: 1.2rem;
            }

            span {
                font-weight: 900 !important;
                color: aqua;
                font-size: 1.2rem;
            }

            img {
                // max-height: 100%;
                width: 90%;
                max-height: 40vh;
                object-fit: cover;
                border-radius: .3em;
                margin-top: .5em;
            }

            &.show_banner::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: url(../images/noteboo.svg);
                background-size: 450px;
                background-repeat: no-repeat;
                background-position: center;
                z-index: -1;
                filter: opacity(50%);
            }
        }
    }

    .edit-options {
        // position: absolute;
        // top: 0;
        // right: .5em;
        background: #202124;
        padding: 0.5em 1em;
        border-radius: 1em;
        padding-left: 2em;
        transform: translateX(-2em);
        // box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.3);
        // display: none;
        opacity: 0;
        pointer-events: none;
        display: flex;
        transition: all 300ms ease-out;

        .btn {
            padding: 0em .5em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            -webkit-user-select: none;
        }

        svg {
            height: 1.2em !important;
            width: 1.2em !important;
        }
    }

    .actions {
        margin-right: 2em;
        padding-left: 1em;
        @include actions;
    }
}

// schedular 
.scheduler {
    height: 100%;
    // width: 93%;
    width: 100%;
    // margin-left: 1.5em;
    position: relative;

    .sched-area {
        overflow: hidden;
        position: relative;
        height: 65vh;
        padding-left: 1.5em;

        .timeline {
            position: fixed;
            height: 85vh;
            top: 12.5em;
        }

        .entry {
            @include entry;
            margin-left: 3.0em;
            width: 90%;
        }
    }

    .actions {
        padding-left: 5em;
        @include actions;
    }
}

.context-menu {
    position: absolute;
    color: #ffffff;
    font-weight: 800;
    display: none;
    height: 15vh;
    width: 16vw;
    background: #2b2b2b;
    opacity: 0.96;
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.2);
    border-radius: .3em;
    // padding: .6em;

    .item {
        width: 100%;
        padding: .5em;
        display: flex;

        // .icon {
        //     margin-right: 1.4em;
        // }

        .name {
            margin-left: 1.4em;
        }

        .shortcut {
            float: right;
            margin-left: auto;
            align-self: center;
            font-size: .8em;
            padding-right: 1.2em;
            text-transform: lowercase;
        }

        &:hover {
            color: aqua;
            background: rgba($color: #ffffff, $alpha: 0.05);
        }
    }
}

.ps__rail-y,
.ps__rail-x {
    display: none !important;
}

.calendar-actions {
    position: absolute;
    top: 16vh;
    right: -3.2em;
    z-index: 3000;
    background-color: #2f2f2fcc;
    height: 45vh;
    width: 3.2em;
    box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
    border-radius: 0.8em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 150ms ease-in-out;

    svg {
        height: 1.5em;
        width: 1.5em;
    }

    .date_selected {
        font-size: 18px;
        font-weight: 900;
        color: #01ffff;
    }

    .action {
        cursor: pointer;
        padding: .5em 1em;
    }
}

#slider {
    appearance: none;
    width: 100%;
    height: 6px;
    background: aqua;
    opacity: 0.3;
    transition: all 200ms ease;
    border-radius: 30px;

    &:hover {
        opacity: 0.6;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        cursor: pointer;
        border-radius: 1.3px;
        appearance: none;
        transition: all 0.4s ease-in-out;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
    }
}

.dropdown-wrapper {
    position: relative;
    width: 100px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    outline: none;

    &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-style: solid;
        border-color: transparent #ffffff;
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        li {
            padding: 10px;
            list-style: none;
            display: block;
        }

        opacity: 0;
        pointer-events: none;
    }

    &.active {
        .dropdown {
            opacity: 1;
            pointer-events: auto;
        }

        &::after {
            margin-top: -4px;
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: #ffffff transparent;
        }
    }
}

.checkbox {
    position: relative;
    display: block;
    padding-left: 28px;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: rgba(0, 255, 255, 0.473);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            display: none;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    input:checked~.checkmark {
        background-color: rgba(0, 255, 255, 0.644);

        &::after {
            display: block;
        }
    }

    &:hover {
        input~.checkmark {
            background-color: rgba($color: aqua, $alpha: 0.1);
        }
    }
}

.edit-opt {
    cursor: pointer;
    background: #202124;
    height: 3.5em;
    width: 3.5em;
    // padding: 1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.blured {
    filter: blur(4px);
}

.settings-overlay {
    display: none;
    position: absolute;
    top: 5vh;
    left: 35vw;
    width: 64vw;
    height: 93vh;
    background: #202124e6;
    color: #ffffff;
    font-weight: 800;
    border-radius: .5em;
    padding: .7em;
    box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.3);
    display: grid;
    grid-template-columns: 1fr 2fr;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;

    .listing {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .li {
            svg g {
                fill: aqua;
            }

            cursor: pointer;
            padding-bottom: .3em;
            padding-left: 1em;
            display: flex;
            align-items: center;
            font-size: 20px;

            .label {
                padding-left: .5em;
            }

            &:hover {
                color: aqua;
            }
        }
    }

    .more {
        height: 100%;
        border-left: 3px solid rgba(0, 255, 255, 0.308);
    }
}

.app-notification {
    display: none;
    position: absolute;
    right: 3em;
    top: 90vh;
    background-color: #202124;
    padding: .5em 1em;
    border-radius: 8px;
    z-index: 10000;
    box-shadow: 0 0 18px rgba($color: #000000, $alpha: 0.3);
    font-size: 18px;
    font-weight: 800;
    // display: grid;
    grid-template-columns: 1fr 5fr;

    .act {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notif {
        display: flex;
        align-items: center;

        .close-btn {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: -1.0em;
            background-color: #202124;
            border-radius: 50%;
            box-shadow: 0 0 18px rgba($color: #5c5c5c, $alpha: 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.no-schedule {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-70%) translateY(-75%);

    // background-image: url("../images/cal_sched.svg");
    img {
        height: 45vh;
        opacity: 0.5;
    }
}

.show-today {
    position: absolute;
    // display: flex;
    align-items: center;
    top: 16vh;
    right: 35vw;
    font-weight: 800;
    padding: .3em 1em;
    background: #202124;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;

    .goto {
        background-color: #202124;
        box-shadow: 0 0 15px #00ffff2e;
        border-radius: 50%;
        transform: translateY(-0.8em) translateX(20px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info {
        padding-right: 0.3em;
    }

    display: none;
}


.show-year {
    position: absolute;
    right: 0;
    bottom: 0;
    // z-index: -1;
    font-size: 40px;
    font-weight: 900;
    text-orientation: upright;
    writing-mode: vertical-rl;
    opacity: 0.1;
}