html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2b2b2b;
  color: #ffffff;
  font-family: 'Poiret one', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

header {
  height: 3.5em;
}

header .username {
  text-transform: capitalize;
  font-size: 0.9em;
  padding-right: 3em;
  opacity: .7;
}

header .username .name {
  text-transform: none;
  color: aqua;
  opacity: .6;
}

header .frame {
  width: 100%;
  background: #202124;
  min-height: 2.0em;
  font-size: 1.6rem;
  height: 2.0em;
  -webkit-app-region: drag;
}

header .frame .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: .3em;
}

header .frame .right-menu .frame-action {
  padding: 0em .5em;
}

header .frame .right-menu .frame-action svg {
  height: 1.0rem;
  width: 1.0rem;
}

header .frame #minmize,
header .frame #maxmize,
header .frame #close,
header .frame #menu {
  cursor: pointer;
  -webkit-app-region: no-drag;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

header .frame #minmize:hover,
header .frame #maxmize:hover,
header .frame #close:hover,
header .frame #menu:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .frame #minmize:hover #minmize-path,
header .frame #maxmize:hover #minmize-path,
header .frame #close:hover #minmize-path,
header .frame #menu:hover #minmize-path {
  stroke: aqua;
}

header .welcomebar {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  z-index: 112;
  background-color: #2b2b2b;
  margin-top: -0.7em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main {
  height: calc(100vh - 3.5em);
  border-top-right-radius: .7em;
  border-top-left-radius: .7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

main .main {
  top: 5%;
  height: 95%;
  background-color: #202124;
  border-radius: .8em;
  border-bottom-right-radius: 0em;
  position: relative;
  right: 15%;
}

main .side {
  padding: .7em;
}

.calendar .calendar-head {
  padding: .4em 0em;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .calendar-head .month {
  margin: 1rem 0;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.calendar .calendar-main {
  padding: .5em;
}

.calendar .calendar-main .days {
  color: aqua;
  margin-top: .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.calendar .calendar-main .days .day {
  font-size: 1.1em;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .calendar-main .dates {
  margin-top: .8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  min-height: 40vh;
}

.calendar .calendar-main .dates .date {
  height: 3em;
  width: 3em;
  font-size: 0.9em;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.calendar .calendar-main .dates .date.active, .calendar .calendar-main .dates .date:hover {
  color: aqua;
  background: rgba(255, 255, 255, 0.219);
  border-radius: 50%;
}

.highlights {
  border-top-right-radius: .7em;
  border-top-left-radius: .7em;
  padding: .7em;
  max-height: 35vh;
  height: 35vh;
  background-color: #2f2f2f;
  -webkit-box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
          box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
  overflow: hidden;
}

.highlights h3 {
  padding-left: 1rem;
  text-transform: capitalize;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.highlights h3 svg {
  height: 1.6rem;
}

.highlights h3 span {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.highlights .pinned-event {
  padding-left: 1rem;
  height: 29vh;
  width: 100%;
  position: relative;
}

.highlights .pinned-event .pin-main {
  bottom: -8em;
}

.highlights .pinned-event .pin-main h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 800;
}

.highlights .pinned-event .pin-main p {
  font-weight: 700;
  font-size: 1.0rem;
  opacity: 0.7;
}

.fab {
  top: 60%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab .fab-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-bottom: .3em;
  border: 2px solid rgba(0, 255, 255, 0.01);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.fab .fab-icon:hover {
  border: 2px solid rgba(0, 255, 255, 0.1);
}

.fab .fab-icon.add {
  margin-top: 5rem;
  border: 2px solid rgba(0, 255, 255, 0.2);
}

svg {
  height: 2.0rem;
  width: 2.0rem;
}

.date-info .date {
  font-weight: 900;
  font-size: 4rem;
}

.date-info .date sup {
  padding: .2rem;
  font-size: 1.1rem;
  color: aqua;
}

.date-info .day {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: .5;
}

.content {
  display: none;
  height: 90%;
  margin-left: 3.5em;
  margin-top: .7em;
  width: 90%;
  border-radius: .7em;
  padding: .7em;
  position: relative;
}

.content.show {
  display: block;
}

.content .timeline {
  position: absolute;
  height: 90%;
  top: 0;
  width: .1rem;
  background: rgba(255, 255, 255, 0.03);
  border-radius: .1em;
}

.content .timeline .time {
  height: 3em;
  width: 3em;
  color: rgba(0, 255, 255, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #2b2b2b;
  border: 2px solid rgba(255, 255, 255, 0.03);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 900;
  margin-top: 2rem;
}

.content .timeline .time h1.date {
  color: rgba(0, 255, 255, 0.4);
  font-size: 1rem;
  font-weight: 900;
}

.view-schedule {
  overflow: hidden;
  height: 72vh;
  position: relative;
  padding-left: 1.5em;
}

.view-schedule .timeline {
  position: fixed;
  top: 12.5em;
  height: 72vh;
}

.view-schedule .goals .goal {
  position: relative;
  color: #ffffff;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  padding-left: 2em;
}

.view-schedule .goals .goal .timeofday {
  height: 3em;
  width: 3em;
  color: rgba(0, 255, 255, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #2b2b2b !important;
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.03);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
  z-index: 75000;
}

.view-schedule .goals .goal h3 {
  color: cyan;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: capitalize;
}

.view-schedule .goals .goal h3 div {
  opacity: 1;
}

.view-schedule .goals .goal .description,
.view-schedule .goals .goal div {
  padding-top: .6em;
  line-height: 1.4em;
  width: 70%;
  font-weight: 900;
  opacity: 0.5;
}

.view-schedule .goals .goal div {
  padding-top: 0em;
}

.dots {
  height: 100%;
  width: 90%;
  margin-left: 1.8rem;
  position: relative;
}

.dots .tab-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: .8em;
  padding: .3em .5em;
  height: 65vh;
  overflow: hidden;
}

.dots .tab-content .d {
  min-height: 5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  background: rgba(255, 255, 255, 0.01);
  -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.302);
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.302);
  border-radius: .1em;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.dots .tab-content .d .index {
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em;
  font-size: .3em;
  opacity: .1;
}

.dots .tab-content .d.active-d, .dots .tab-content .d:hover {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 255, 255, 0.7);
          box-shadow: 0px 0px 2px rgba(0, 255, 255, 0.7);
  background: rgba(0, 255, 255, 0.01);
}

.dots .tab-content .d.active-d .index, .dots .tab-content .d:hover .index {
  color: cyan;
  opacity: .6;
}

.dots .actions {
  padding-left: 3em;
  width: 90%;
  position: absolute;
  top: 85%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.dots .actions .action {
  padding: 0 .5em;
  font-weight: 800;
}

.dots .actions .action svg {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.dots .actions .action input {
  width: 30rem;
  padding: .6rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1.5em;
  background: #353535;
  outline: none;
  font-family: 'Poiret one';
  color: rgba(255, 255, 255, 0.527);
  font-weight: 900;
  font-size: 1.1rem;
}

.dots .actions .action.action-btn {
  background-color: rgba(0, 255, 255, 0.01);
  padding: .4em 1.3em;
  margin: 0 .4em;
  border-radius: .4em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.dots .actions .action.action-btn:hover {
  border-bottom: 2px solid aqua;
}

.dots .actions .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logbook {
  height: 100%;
  width: 90%;
  position: relative;
}

.logbook .add-area {
  height: 65vh;
  padding-left: 1.5em;
  overflow: hidden;
}

.logbook .add-area .timeline {
  position: fixed;
  height: 85vh;
  top: 12.5em;
}

.logbook .add-area .notebook {
  margin-left: 3em;
  width: 92%;
  height: 100%;
  font-weight: 700;
  outline: none;
}

.logbook .add-area .notebook .txt {
  color: aqua;
  opacity: 0.05;
  font-size: 2rem;
  border-right: 0.2rem solid rgba(0, 255, 255, 0.651);
}

.logbook .actions {
  padding-left: 5em;
  width: 90%;
  position: absolute;
  top: 85%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.logbook .actions .action {
  padding: 0 .5em;
  font-weight: 800;
}

.logbook .actions .action svg {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.logbook .actions .action input {
  width: 30rem;
  padding: .6rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1.5em;
  background: #353535;
  outline: none;
  font-family: 'Poiret one';
  color: rgba(255, 255, 255, 0.527);
  font-weight: 900;
  font-size: 1.1rem;
}

.logbook .actions .action.action-btn {
  background-color: rgba(0, 255, 255, 0.01);
  padding: .4em 1.3em;
  margin: 0 .4em;
  border-radius: .4em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.logbook .actions .action.action-btn:hover {
  border-bottom: 2px solid aqua;
}

.logbook .actions .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheduler {
  height: 100%;
  width: 93%;
  position: relative;
}

.scheduler .sched-area {
  overflow: hidden;
  position: relative;
  height: 65vh;
  padding-left: 1.5em;
}

.scheduler .sched-area .timeline {
  position: fixed;
  height: 85vh;
  top: 12.5em;
}

.scheduler .sched-area .entry {
  position: relative;
  width: 97%;
  background: #2f2f2f;
  min-height: 15vh;
  border-radius: .7em;
  padding: .5em 1em;
  font-weight: 700;
  -webkit-box-shadow: 0 0 10px rgba(32, 33, 36, 0.041);
          box-shadow: 0 0 10px rgba(32, 33, 36, 0.041);
  margin-bottom: 1rem;
  margin-left: 3.0em;
  width: 90%;
}

.scheduler .sched-area .entry .title {
  color: aqua;
  margin-bottom: .4em;
  outline: none;
  font-weight: 800;
}

.scheduler .sched-area .entry .note {
  outline: none;
  line-height: 1.5em;
}

.scheduler .sched-area .entry .add {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  opacity: 0.7;
  cursor: pointer;
}

.scheduler .sched-area .entry .timeofday {
  height: 3em;
  width: 3em;
  color: rgba(0, 255, 255, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #2b2b2b;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-150%);
          transform: translateY(-50%) translateX(-150%);
  z-index: 75000;
}

.scheduler .sched-area .entry .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .8em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.scheduler .sched-area .entry .duration svg {
  height: 1.5rem;
  width: 1.5rem;
  opacity: .1;
}

.scheduler .sched-area .entry .duration .timer {
  outline: none;
  padding-left: .6em;
  font-size: .9rem;
  color: rgba(0, 255, 255, 0.582);
}

.scheduler .sched-area .entry.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scheduler .sched-area .entry.flex .avatar {
  position: relative;
  width: 10% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scheduler .sched-area .entry.addentry {
  margin-bottom: 120px;
}

.scheduler .actions {
  padding-left: 5em;
  width: 90%;
  position: absolute;
  top: 85%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.scheduler .actions .action {
  padding: 0 .5em;
  font-weight: 800;
}

.scheduler .actions .action svg {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.scheduler .actions .action input {
  width: 30rem;
  padding: .6rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1.5em;
  background: #353535;
  outline: none;
  font-family: 'Poiret one';
  color: rgba(255, 255, 255, 0.527);
  font-weight: 900;
  font-size: 1.1rem;
}

.scheduler .actions .action.action-btn {
  background-color: rgba(0, 255, 255, 0.01);
  padding: .4em 1.3em;
  margin: 0 .4em;
  border-radius: .4em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.scheduler .actions .action.action-btn:hover {
  border-bottom: 2px solid aqua;
}

.scheduler .actions .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */