@import 'mixins';

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2b2b2b;
    // font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-family: 'Poiret one', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}

header {
    height: 3.5em;

    .username {
        text-transform: capitalize;
        font-size: 0.9em;
        padding-right: 3em;
        opacity: .7;

        .name {
            text-transform: none;
            color: aqua;
            opacity: .6;
        }
    }

    .frame {
        // position: absolute;
        width: 100%;
        // top: 0;
        background: #202124;
        min-height: 2.0em;
        font-size: 1.6rem;
        height: 2.0em;
        -webkit-app-region: drag;

        .right-menu {
            position: absolute;
            right: 0;
            display: flex;
            margin-right: .3em;

            .frame-action {
                padding: 0em .5em;

                svg {
                    height: 1.0rem;
                    width: 1.0rem;
                }
            }
        }

        #minmize,
        #maxmize,
        #close,
        #menu {
            cursor: pointer;
            -webkit-app-region: no-drag;
            transition: all 150ms ease-out;

            &:hover {
                transform: scale(1.3);

                #minmize-path {
                    stroke: aqua;
                }
            }
        }
    }

    .welcomebar {
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;
        height: 1.8em;
        display: flex;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
        z-index: 112;
        background-color: #2b2b2b;
        margin-top: -0.7em;
        justify-content: space-between;
        align-items: flex-end;
    }

}

main {
    height: calc(100vh - 3.5em);
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
    display: grid;
    grid-template-columns: 70% 30%;
    // grid-template-columns: 5% 95%;

    .main {
        top: 5%;
        height: 95%;
        background-color: #202124;
        border-radius: .8em;
        border-bottom-right-radius: 0em;
        position: relative;
        right: 15%;
    }

    .side {
        padding: .7em;
    }
}

// calendar
.calendar {
    .calendar-head {
        padding: .4em 0em;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .month {
            margin: 1rem 0;
            font-weight: 900;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
    }

    .calendar-main {
        padding: .5em;

        .days {
            color: aqua;
            margin-top: .5em;
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .day {
                // padding: 1rem;
                font-size: 1.1em;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .dates {
            margin-top: .8em;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            min-height: 40vh;

            .date {
                // min-height: 3rem;
                // max-width: 3em;
                height: 3em;
                width: 3em;
                font-size: 0.9em;
                font-weight: 900;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 300ms ease-in-out;
                cursor: pointer;

                &.active,
                &:hover {
                    color: aqua;
                    background: rgba(255, 255, 255, 0.219);
                    border-radius: 50%;
                }
            }
        }
    }
}

// todays highlights
.highlights {
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
    padding: .7em;
    // height: 100%;
    max-height: 35vh;
    height: 35vh;
    background-color: #2f2f2f;
    // box-shadow: 0 0 2px #202124;
    box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
    overflow: hidden;

    h3 {
        padding-left: 1rem;
        text-transform: capitalize;
        opacity: 0.7;
        display: flex;
        align-items: flex-end;

        svg {
            height: 1.6rem;
        }

        span {
            margin-left: 1rem;
            font-size: 1.4rem;
        }
    }

    .pinned-event {
        padding-left: 1rem;
        // height: 100%;
        height: 29vh;
        width: 100%;
        position: relative;

        .pin-main {
            // position: absolute;
            // bottom: 3.5rem;
            bottom: -8em;

            h2 {
                text-transform: capitalize;
                font-size: 1.3rem;
                font-weight: 800;
            }

            p {
                font-weight: 700;
                font-size: 1.0rem;
                opacity: 0.7;
            }
        }
    }
}

// fab actions
.fab {
    top: 60%;
    position: absolute;
    // bottom: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-end;

    .fab-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 3em;
        border-radius: 50%;
        margin-bottom: .3em;
        border: 2px solid rgba(0, 255, 255, 0.01);
        transition: all 300ms ease;
        cursor: pointer;

        &:hover {
            border: 2px solid rgba(0, 255, 255, 0.1);
        }

        &.add {
            margin-top: 5rem;
            border: 2px solid rgba(0, 255, 255, 0.2);
        }
    }
}

svg {
    height: 2.0rem;
    width: 2.0rem;
}

// date info
.date-info {
    .date {
        font-weight: 900;
        font-size: 4rem;

        sup {
            padding: .2rem;
            font-size: 1.1rem;
            color: aqua;
        }
    }

    .day {
        font-size: 1.5rem;
        font-weight: 700;
        opacity: .5;
    }
}

// content
.content {
    display: none;
    height: 90%;
    margin-left: 3.5em;
    margin-top: .7em;
    width: 90%;
    border-radius: .7em;
    padding: .7em;
    position: relative;

    &.show {
        // transform: none;
        display: block;
    }

    .timeline {
        position: absolute;
        height: 90%;
        top: 0;
        width: .1rem;
        background: rgba(255, 255, 255, 0.03);
        border-radius: .1em;

        .time {
            height: 3em;
            width: 3em;
            color: rgba(0, 255, 255, 0.11);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #2b2b2b;
            border: 2px solid rgba(255, 255, 255, 0.03);
            transform: translateX(-50%);
            font-weight: 900;
            margin-top: 2rem;

            h1 {
                &.date {
                    color: rgba(0, 255, 255, 0.4);
                    font-size: 1rem;
                    font-weight: 900;
                }
            }
        }
    }
}

// view my schedule
.view-schedule {
    overflow: hidden;
    height: 72vh;
    position: relative;
    padding-left: 1.5em;

    // width: 45vw;
    .timeline {
        position: fixed;
        top: 12.5em;
        height: 72vh;
    }

    .goals {
        .goal {
            position: relative;
            color: #ffffff;
            // width: 100%;
            margin-bottom: 3rem;
            margin-left: 1.5rem;
            padding-left: 2em;

            .timeofday {
                height: 3em;
                width: 3em;
                color: rgba(0, 255, 255, 0.349);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #2b2b2b !important;
                opacity: 1;
                border: 2px solid rgba($color: #ffffff, $alpha: 0.03);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) translateX(-100%);
                z-index: 75000;
            }

            h3 {
                // margin-top: 1rem;
                // padding-left: 1em;
                color: rgba($color: aqua, $alpha: 1.0);
                font-size: 1.4rem;
                font-weight: 900;
                text-transform: capitalize;

                div {
                    opacity: 1;
                }
            }

            .description,
            div {
                padding-top: .6em;
                line-height: 1.4em;
                width: 70%;
                font-weight: 900;
                opacity: 0.5;
            }

            div {
                padding-top: 0em;
            }
        }
    }
}

// join the dots dont break the chain
.dots {
    height: 100%;
    width: 90%;
    margin-left: 1.8rem;
    position: relative;

    .tab-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: .8em;
        padding: .3em .5em;
        height: 65vh;
        overflow: hidden;

        .d {
            min-height: 5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            font-weight: 800;
            background: rgba(255, 255, 255, 0.01);
            box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.302);
            border-radius: .1em;
            transition: all 350ms ease-out;

            .index {
                position: absolute;
                top: 0;
                left: 0;
                padding: .3em;
                font-size: .3em;
                opacity: .1;
            }

            &.active-d,
            &:hover {
                box-shadow: 0px 0px 2px rgba(0, 255, 255, 0.7);
                background: rgba(0, 255, 255, 0.01);

                .index {
                    color: rgb(0, 255, 255);
                    opacity: .6;
                }
            }
        }
    }

    .actions {
        padding-left: 3em;
        @include actions;
    }

}

// logbook
.logbook {
    height: 100%;
    width: 90%;
    position: relative;

    .add-area {
        height: 65vh;
        padding-left: 1.5em;
        overflow: hidden;

        .timeline {
            position: fixed;
            height: 85vh;
            top: 12.5em;
        }

        .notebook {
            margin-left: 3em;
            width: 92%;
            height: 100%;
            font-weight: 700;
            // border: 10px solid aqua;
            outline: none;

            .txt {
                color: aqua;
                opacity: 0.05;
                font-size: 2rem;
                border-right: 0.2rem solid rgba(0, 255, 255, 0.651);
            }
        }
    }

    .actions {
        padding-left: 5em;
        @include actions;
    }
}

// schedular 
.scheduler {
    height: 100%;
    width: 93%;
    // margin-left: 1.5em;
    position: relative;

    .sched-area {
        overflow: hidden;
        position: relative;
        height: 65vh;
        padding-left: 1.5em;

        .timeline {
            position: fixed;
            height: 85vh;
            top: 12.5em;
        }

        .entry {
            @include entry;
            margin-left: 3.0em;
            width: 90%;
        }
    }

    .actions {
        padding-left: 5em;
        @include actions;
    }
}