html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Poiret one';
  src: url("../fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: 'Pmarker';
  src: url("../fonts/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: 'Quicksandx';
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

body {
  background: #2b2b2b;
  color: #ffffff;
  font-family: 'Poiret one' !important;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  opacity: 0.3;
}

header {
  height: 3.5em;
}

header .username {
  text-transform: capitalize;
  font-size: 0.9em;
  padding-right: 3em;
  opacity: .7;
}

header .username .name {
  text-transform: none;
  color: aqua;
  opacity: .6;
}

header .frame {
  width: 100%;
  background: #202124;
  min-height: 2.0em;
  font-size: 1.6rem;
  height: 2.0em;
  -webkit-app-region: drag;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .frame .logo {
  color: aqua;
  font-weight: 900;
  margin-left: .4em;
}

header .frame .logo img {
  margin-top: .2em;
  height: 1.2em;
  opacity: 0.5;
}

header .frame .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: .3em;
}

header .frame .right-menu .frame-action {
  padding: 0em .5em;
}

header .frame .right-menu .frame-action svg {
  height: 1.0rem;
  width: 1.0rem;
}

header .frame #minmize,
header .frame #maxmize,
header .frame #close,
header .frame #menu {
  cursor: pointer;
  -webkit-app-region: no-drag;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

header .frame #minmize:hover,
header .frame #maxmize:hover,
header .frame #close:hover,
header .frame #menu:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .frame #minmize:hover #minmize-path,
header .frame #maxmize:hover #minmize-path,
header .frame #close:hover #minmize-path,
header .frame #menu:hover #minmize-path {
  stroke: aqua;
}

header .welcomebar {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  z-index: 112;
  background-color: #2b2b2b;
  margin-top: -0.7em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main {
  height: calc(100vh - 3.5em);
  border-top-right-radius: .7em;
  border-top-left-radius: .7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

main .main {
  height: 95%;
  background-color: #202124;
  border-radius: .8em;
  border-bottom-right-radius: 0em;
  position: relative;
  right: 10%;
}

main .side {
  padding: .7em;
}

.calendar .calendar-head {
  padding: .4em 0em;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .calendar-head .month {
  margin: 1rem 0;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.calendar .calendar-head .controls {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
  padding: .5em 1em;
}

.calendar .calendar-head .controls svg {
  height: 1.5em;
  opacity: 0.5;
}

.calendar .calendar-head .controls .next-month,
.calendar .calendar-head .controls .prev-month {
  height: 2.0em;
  width: 2.0em;
  background: rgba(0, 255, 255, 0.01);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 3px solid rgba(0, 255, 255, 0.001);
  cursor: pointer;
}

.calendar .calendar-main {
  padding: .5em;
}

.calendar .calendar-main .days {
  color: aqua;
  margin-top: .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.calendar .calendar-main .days .day {
  font-size: 1.1em;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .calendar-main .dates {
  margin-top: .8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  min-height: 40vh;
}

.calendar .calendar-main .dates .date {
  height: 3em;
  width: 3em;
  font-size: 0.9em;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.calendar .calendar-main .dates .date.active, .calendar .calendar-main .dates .date:hover {
  color: aqua;
  background: rgba(255, 255, 255, 0.219);
  border-radius: 50%;
}

.highlights {
  border-top-right-radius: .7em;
  border-top-left-radius: .7em;
  padding: .7em;
  max-height: 37vh;
  height: 37vh;
  background-color: #2f2f2f;
  background-blend-mode: overlay;
  -webkit-box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
          box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
  overflow: hidden;
}

.highlights h3 {
  padding-left: 1rem;
  text-transform: capitalize;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.highlights h3 svg {
  height: 1.6rem;
}

.highlights h3 span {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.highlights .pinned-event {
  padding-left: 1rem;
  height: 29vh;
  width: 100%;
  position: relative;
}

.highlights .pinned-event .pin-main {
  bottom: -10em;
}

.highlights .pinned-event .pin-main h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 800;
}

.highlights .pinned-event .pin-main p {
  font-weight: 700;
  font-size: 1.0rem;
  opacity: 0.7;
}

.fab {
  top: 60%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab .fab-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-bottom: .3em;
  border: 2px solid rgba(0, 255, 255, 0.01);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.fab .fab-icon:hover {
  border: 2px solid rgba(0, 255, 255, 0.1);
}

.fab .fab-icon.add {
  margin-top: 5rem;
}

svg {
  height: 2.0rem;
  width: 2.0rem;
}

.date-info .date {
  font-weight: 900;
  font-size: 4rem;
}

.date-info .date sup {
  padding: .2rem;
  font-size: 1.1rem;
  color: aqua;
}

.date-info .day {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: .5;
}

.content {
  display: none;
  height: 90%;
  margin-left: 3.5em;
  margin-top: .7em;
  width: 90%;
  border-radius: .7em;
  padding: .7em;
  position: relative;
}

.content.show {
  display: block;
}

.content .timeline {
  position: absolute;
  height: 90%;
  top: 0;
  width: .1rem;
  background: rgba(255, 255, 255, 0.03);
  border-radius: .1em;
}

.content .timeline .timeofday {
  height: 3em;
  width: 3em;
  color: rgba(127, 255, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #2b2b2b !important;
  opacity: 1;
  border: 2px solid rgba(127, 255, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 75000;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
  font-weight: 800;
}

.content .timeline .time {
  height: 3em;
  width: 3em;
  color: rgba(0, 255, 255, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #2b2b2b;
  border: 2px solid rgba(255, 255, 255, 0.03);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 900;
  margin-top: 2rem;
}

.content .timeline .time h1.date {
  color: rgba(0, 255, 255, 0.4);
  font-size: 1rem;
  font-weight: 900;
}

.view-schedule {
  overflow: hidden;
  height: 77vh;
  position: relative;
  padding-left: 1.5em;
}

.view-schedule .timeline {
  position: fixed;
  top: 12.5em;
  height: 72vh;
}

.view-schedule .goals .goal {
  position: relative;
  color: #ffffff;
  margin-bottom: 9rem;
  margin-left: 1.5rem;
  padding-left: 2em;
}

.view-schedule .goals .goal .real-time {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.8em;
  font-family: 'Quicksandx';
  opacity: 0.3;
  margin-bottom: 0.4em;
}

.view-schedule .goals .goal .timeofday {
  height: 3em;
  width: 3em;
  color: rgba(0, 255, 255, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #2b2b2b !important;
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.03);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-80%) translateX(-100%);
          transform: translateY(-80%) translateX(-100%);
  z-index: 75000;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.view-schedule .goals .goal .timeofday span#hr {
  font-size: 20px;
}

.view-schedule .goals .goal .timeofday span#min {
  position: absolute;
  font-size: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 0;
  bottom: 0;
  color: rgba(127, 255, 0, 0.5);
}

.view-schedule .goals .goal .progress {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-1.5em) translateY(3em);
          transform: translateX(-1.5em) translateY(3em);
  z-index: 74999;
  height: 0%;
  background: rgba(0, 255, 255, 0.3);
  width: .1em;
}

.view-schedule .goals .goal .progress.hrscale {
  background: rgba(127, 255, 0, 0.3);
}

.view-schedule .goals .goal h3 {
  color: cyan;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: capitalize;
}

.view-schedule .goals .goal h3 div {
  opacity: 1;
}

.view-schedule .goals .goal .description,
.view-schedule .goals .goal div {
  padding-top: .6em;
  line-height: 1.4em;
  width: 70%;
  font-weight: 900;
  opacity: 0.9;
}

.view-schedule .goals .goal#passed .timeofday, .view-schedule .goals .goal#started .timeofday {
  color: rgba(0, 255, 255, 0.3);
  border: 2px solid rgba(0, 255, 255, 0.3);
}

.view-schedule .goals .goal div {
  padding-top: 0em;
}

.view-schedule .goals .goal:first-child {
  margin-top: 1em;
}

.view-schedule .goals .goal.changes .real-time {
  color: #00ffff;
}

.view-schedule .goals .goal.changes .progress {
  -webkit-transform: translateX(-1.5em) translateY(-1em);
          transform: translateX(-1.5em) translateY(-1em);
  height: 30%;
  background: #2b2b2b;
}

.dots {
  height: 100%;
  width: 90%;
  margin-left: 1.8rem;
  position: relative;
}

.dots .tab-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  grid-gap: .8em;
  padding: .3em .5em;
  height: 65vh;
  overflow: hidden;
}

.dots .tab-content .d {
  position: relative;
  min-height: 5rem;
  max-block-size: 5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Pmarker';
  font-size: 3rem;
  font-weight: 800;
  background: rgba(255, 255, 255, 0.01);
  -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.302);
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.302);
  border-radius: .1em;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.dots .tab-content .d .index,
.dots .tab-content .d .show_next_month {
  font-family: 'Poiret one';
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em;
  font-size: .3em;
  opacity: .2;
}

.dots .tab-content .d .show_next_month {
  right: 0 !important;
  color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dots .tab-content .d.active-d, .dots .tab-content .d:hover {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 255, 255, 0.7);
          box-shadow: 0px 0px 2px rgba(0, 255, 255, 0.7);
  background: rgba(0, 255, 255, 0.01);
}

.dots .tab-content .d.active-d .index, .dots .tab-content .d:hover .index {
  color: cyan;
  opacity: .6;
}

.dots .tab-content.show_banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/timeline.svg);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.dots .actions {
  padding-left: 3em;
  width: 90%;
  position: absolute;
  top: 85%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.dots .actions .action {
  padding: 0 .5em;
  font-weight: 800;
  cursor: pointer;
}

.dots .actions .action svg {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.dots .actions .action input {
  width: 30rem;
  padding: .6rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1.5em;
  background: #353535;
  outline: none;
  font-family: 'Poiret one';
  color: rgba(255, 255, 255, 0.527);
  font-weight: 900;
  font-size: 1.1rem;
}

.dots .actions .action.action-btn {
  background-color: rgba(0, 255, 255, 0.01);
  padding: .4em 1.3em;
  margin: 0 .4em;
  border-radius: .4em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.dots .actions .action.action-btn:hover {
  border-bottom: 2px solid aqua;
}

.dots .actions .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots .actions .activity {
  text-transform: capitalize;
  color: aqua;
  font-weight: 800;
  font-size: 1.1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-bottom: .3em;
}

.dots .actions .activity.active-tab {
  border-bottom: 2px solid white;
}

.dots #add-activity {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.dots .add-overlay {
  display: none;
  position: absolute;
  bottom: 18%;
  background: #202124;
  right: 0;
  z-index: 1000;
  border-radius: 6px;
  padding: .5em;
  height: 18vh;
  width: 25vw;
  font-weight: 800;
  -webkit-box-shadow: 0 0 10px 0px #2b2b2bcb;
          box-shadow: 0 0 10px 0px #2b2b2bcb;
}

.dots .add-overlay input[type='text'] {
  width: 100%;
  outline: none;
  border: none;
  padding: .5em 1em;
  padding-bottom: 0.3em;
  font-family: 'Poiret one';
  font-size: 16px;
  font-weight: 800 !important;
  background: transparent;
  border-bottom: 1px solid rgba(0, 255, 255, 0.1);
  color: aqua;
}

.dots .add-overlay .input-container {
  margin: .7em 0em;
}

.dots .add-overlay .save-actions {
  margin-top: 0.5em;
}

.dots .add-overlay .save-actions svg {
  float: right;
}

.dots .add-overlay .save-actions button {
  border: none;
  padding: .1em .9em;
  border-radius: .2em;
  font-family: 'Poiret one';
  font-weight: 800;
  font-size: 18px;
  background-color: rgba(0, 255, 255, 0.418);
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.logbook {
  height: 100%;
  position: relative;
}

.logbook .add-area {
  height: 65vh;
  padding-left: 1.5em;
  overflow: hidden;
}

.logbook .add-area .timeline {
  position: fixed;
  height: 85vh;
  top: 12.5em;
}

.logbook .add-area .notebook {
  position: relative;
  margin-left: 3em;
  width: 90%;
  height: 100%;
  font-weight: 700;
  outline: none;
}

.logbook .add-area .notebook h2 {
  color: aqua !important;
  text-transform: capitalize;
}

.logbook .add-area .notebook div {
  line-height: 1.4;
  font-size: 1.2rem;
}

.logbook .add-area .notebook span {
  font-weight: 900 !important;
  color: aqua;
  font-size: 1.2rem;
}

.logbook .add-area .notebook img {
  width: 90%;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .3em;
  margin-top: .5em;
}

.logbook .add-area .notebook.show_banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/noteboo.svg);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.logbook .edit-options {
  background: #202124;
  padding: 0.5em 1em;
  border-radius: 1em;
  padding-left: 2em;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.logbook .edit-options .btn {
  padding: 0em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
}

.logbook .edit-options svg {
  height: 1.2em !important;
  width: 1.2em !important;
}

.logbook .actions {
  margin-right: 2em;
  padding-left: 1em;
  width: 90%;
  position: absolute;
  top: 85%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.logbook .actions .action {
  padding: 0 .5em;
  font-weight: 800;
  cursor: pointer;
}

.logbook .actions .action svg {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.logbook .actions .action input {
  width: 30rem;
  padding: .6rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1.5em;
  background: #353535;
  outline: none;
  font-family: 'Poiret one';
  color: rgba(255, 255, 255, 0.527);
  font-weight: 900;
  font-size: 1.1rem;
}

.logbook .actions .action.action-btn {
  background-color: rgba(0, 255, 255, 0.01);
  padding: .4em 1.3em;
  margin: 0 .4em;
  border-radius: .4em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.logbook .actions .action.action-btn:hover {
  border-bottom: 2px solid aqua;
}

.logbook .actions .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheduler {
  height: 100%;
  width: 100%;
  position: relative;
}

.scheduler .sched-area {
  overflow: hidden;
  position: relative;
  height: 65vh;
  padding-left: 1.5em;
}

.scheduler .sched-area .timeline {
  position: fixed;
  height: 85vh;
  top: 12.5em;
}

.scheduler .sched-area .entry {
  position: relative;
  width: 97%;
  background: #2f2f2f;
  min-height: 20vh;
  border-radius: .7em;
  padding: .5em 1em;
  font-weight: 700;
  -webkit-box-shadow: 0 0 10px rgba(32, 33, 36, 0.041);
          box-shadow: 0 0 10px rgba(32, 33, 36, 0.041);
  margin-bottom: 1rem;
  margin-left: 3.0em;
  width: 90%;
}

.scheduler .sched-area .entry .title {
  color: aqua;
  margin-bottom: .4em;
  outline: none;
  font-weight: 800;
}

.scheduler .sched-area .entry .note {
  outline: none;
  line-height: 1.5em;
  min-height: 3em;
}

.scheduler .sched-area .entry .add {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  opacity: 0.7;
  margin-top: 2em;
  cursor: pointer;
}

.scheduler .sched-area .entry .timeofday {
  height: 3em;
  width: 3em;
  color: rgba(0, 255, 255, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.03);
  background-color: #2b2b2b;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-150%);
          transform: translateY(-50%) translateX(-150%);
  z-index: 75000;
}

.scheduler .sched-area .entry .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .8em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.scheduler .sched-area .entry .duration svg {
  height: 1.5rem;
  width: 1.5rem;
  opacity: .1;
}

.scheduler .sched-area .entry .duration .timer {
  outline: none;
  padding-left: .6em;
  font-size: .9rem;
  color: rgba(0, 255, 255, 0.582);
}

.scheduler .sched-area .entry.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scheduler .sched-area .entry.flex .avatar {
  position: relative;
  width: 10% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scheduler .sched-area .entry.addentry {
  padding: 1em;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scheduler .sched-area .entry.addentry input,
.scheduler .sched-area .entry.addentry textarea {
  font-family: 'Poiret one';
  font-size: 24px;
  background: transparent;
  outline: none;
  border: none;
  color: #ffffff;
}

.scheduler .sched-area .entry.addentry input::-webkit-input-placeholder,
.scheduler .sched-area .entry.addentry textarea::-webkit-input-placeholder {
  font-family: 'Poiret one';
  color: aqua;
  font-weight: 800;
}

.scheduler .sched-area .entry.addentry input:-ms-input-placeholder,
.scheduler .sched-area .entry.addentry textarea:-ms-input-placeholder {
  font-family: 'Poiret one';
  color: aqua;
  font-weight: 800;
}

.scheduler .sched-area .entry.addentry input::-ms-input-placeholder,
.scheduler .sched-area .entry.addentry textarea::-ms-input-placeholder {
  font-family: 'Poiret one';
  color: aqua;
  font-weight: 800;
}

.scheduler .sched-area .entry.addentry input::placeholder,
.scheduler .sched-area .entry.addentry textarea::placeholder {
  font-family: 'Poiret one';
  color: aqua;
  font-weight: 800;
}

.scheduler .sched-area .entry .range-duration input {
  width: 95%;
}

.scheduler .sched-area .entry .range-duration .options {
  position: relative;
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheduler .sched-area .entry .range-duration .options .start {
  position: relative;
}

.scheduler .sched-area .entry .range-duration .options .more-settings {
  position: relative;
}

.scheduler .sched-area .entry .range-duration .options .more-settings svg {
  position: absolute;
  top: -15px;
  right: 0;
}

.scheduler .sched-area .entry .range-duration #start-time-input {
  width: 100%;
  font-size: 16px;
  font-weight: 800;
}

.scheduler .sched-area .entry .range-duration #start-time-input::-webkit-input-placeholder {
  opacity: 0.3;
}

.scheduler .sched-area .entry .range-duration #start-time-input:-ms-input-placeholder {
  opacity: 0.3;
}

.scheduler .sched-area .entry .range-duration #start-time-input::-ms-input-placeholder {
  opacity: 0.3;
}

.scheduler .sched-area .entry .range-duration #start-time-input::placeholder {
  opacity: 0.3;
}

.scheduler .actions {
  padding-left: 5em;
  width: 90%;
  position: absolute;
  top: 85%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.scheduler .actions .action {
  padding: 0 .5em;
  font-weight: 800;
  cursor: pointer;
}

.scheduler .actions .action svg {
  height: 1.7rem !important;
  width: 1.7rem !important;
}

.scheduler .actions .action input {
  width: 30rem;
  padding: .6rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1.5em;
  background: #353535;
  outline: none;
  font-family: 'Poiret one';
  color: rgba(255, 255, 255, 0.527);
  font-weight: 900;
  font-size: 1.1rem;
}

.scheduler .actions .action.action-btn {
  background-color: rgba(0, 255, 255, 0.01);
  padding: .4em 1.3em;
  margin: 0 .4em;
  border-radius: .4em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.scheduler .actions .action.action-btn:hover {
  border-bottom: 2px solid aqua;
}

.scheduler .actions .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.context-menu {
  position: absolute;
  color: #ffffff;
  font-weight: 800;
  display: none;
  height: 15vh;
  width: 16vw;
  background: #2b2b2b;
  opacity: 0.96;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: .3em;
}

.context-menu .item {
  width: 100%;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.context-menu .item .name {
  margin-left: 1.4em;
}

.context-menu .item .shortcut {
  float: right;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: .8em;
  padding-right: 1.2em;
  text-transform: lowercase;
}

.context-menu .item:hover {
  color: aqua;
  background: rgba(255, 255, 255, 0.05);
}

.ps__rail-y,
.ps__rail-x {
  display: none !important;
}

.calendar-actions {
  position: absolute;
  top: 16vh;
  right: -3.2em;
  z-index: 3000;
  background-color: #2f2f2fcc;
  height: 45vh;
  width: 3.2em;
  -webkit-box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
          box-shadow: 0 0 10px rgba(32, 33, 36, 0.116);
  border-radius: 0.8em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.calendar-actions svg {
  height: 1.5em;
  width: 1.5em;
}

.calendar-actions .date_selected {
  font-size: 18px;
  font-weight: 900;
  color: #01ffff;
}

.calendar-actions .action {
  cursor: pointer;
  padding: .5em 1em;
}

#slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 6px;
  background: aqua;
  opacity: 0.3;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 30px;
}

#slider:hover {
  opacity: 0.6;
}

#slider::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
          appearance: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.dropdown-wrapper {
  position: relative;
  width: 100px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.dropdown-wrapper::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #ffffff;
}

.dropdown-wrapper .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.dropdown-wrapper .dropdown li {
  padding: 10px;
  list-style: none;
  display: block;
}

.dropdown-wrapper.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-wrapper.active::after {
  margin-top: -4px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #ffffff transparent;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgba(0, 255, 255, 0.473);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkbox input:checked ~ .checkmark {
  background-color: rgba(0, 255, 255, 0.644);
}

.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.checkbox:hover input ~ .checkmark {
  background-color: rgba(0, 255, 255, 0.1);
}

.edit-opt {
  cursor: pointer;
  background: #202124;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.blured {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.settings-overlay {
  display: none;
  position: absolute;
  top: 5vh;
  left: 35vw;
  width: 64vw;
  height: 93vh;
  background: #202124e6;
  color: #ffffff;
  font-weight: 800;
  border-radius: .5em;
  padding: .7em;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.settings-overlay .listing {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings-overlay .listing .li {
  cursor: pointer;
  padding-bottom: .3em;
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.settings-overlay .listing .li svg g {
  fill: aqua;
}

.settings-overlay .listing .li .label {
  padding-left: .5em;
}

.settings-overlay .listing .li:hover {
  color: aqua;
}

.settings-overlay .more {
  height: 100%;
  border-left: 3px solid rgba(0, 255, 255, 0.308);
}

.app-notification {
  display: none;
  position: absolute;
  right: 3em;
  top: 90vh;
  background-color: #202124;
  padding: .5em 1em;
  border-radius: 8px;
  z-index: 10000;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 800;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

.app-notification .act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-notification .notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-notification .notif .close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -1.0em;
  background-color: #202124;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 18px rgba(92, 92, 92, 0.3);
          box-shadow: 0 0 18px rgba(92, 92, 92, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-schedule {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-70%) translateY(-75%);
          transform: translateX(-70%) translateY(-75%);
}

.no-schedule img {
  height: 45vh;
  opacity: 0.5;
}

.show-today {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 16vh;
  right: 35vw;
  font-weight: 800;
  padding: .3em 1em;
  background: #202124;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.show-today .goto {
  background-color: #202124;
  -webkit-box-shadow: 0 0 15px #00ffff2e;
          box-shadow: 0 0 15px #00ffff2e;
  border-radius: 50%;
  -webkit-transform: translateY(-0.8em) translateX(20px);
          transform: translateY(-0.8em) translateX(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-today .info {
  padding-right: 0.3em;
}

.show-year {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 40px;
  font-weight: 900;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0.1;
}
/*# sourceMappingURL=style.css.map */